/*DANYA*/
section.gift .form-check{
	display: none;
}

section.gift .form-check.active{
	display: block;
}

.calc_btns{
	display: flex;
	justify-content: center;
}

.calc_btns .btn_calc_next_wrap, .calc_btns .btn_calc_back_wrap{
	margin: 0 15px;
}

.btn_calc_next_wrap{
	position: relative;
	z-index: 1;
}

.btn_calc_next_wrap.active::before{
	display: none;
}

.btn_calc_next_wrap::before{
	top: 0;
	left: 0;
	content: "";
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.btn_calc_next_wrap.notreq::before{
	display: none;
}

.towns_chois {
    position: absolute;
    transform: translate(-30%);
    z-index: 4;
    width: 100%;
    text-align: center;
    border: 1px solid #e9ecef;
    padding: 1rem;
    background: white;
    width: 100%;
    max-width: 190px;
    box-shadow: 0 6px 11px 0px rgba(192, 192, 192, 0.51);
    display: none;
}

.towns_chois__str {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 0 8px 5px;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.towns_chois__title {
    margin-bottom: 10px;
    font-size: 14px;
}

.towns_chois button{
    border: none;
    height: 100%;
    max-height: 32px;
    width: 64px;
}

.towns_chois .chois_no{
    background-color: #dd6b1f;
    color: #fff;
}

.towns_chois .chois_yes{
    background-color: #54c5cf;
    color: #fff;
}

.towns_chois .chois_no:active{
    box-shadow: 0 0 0 0.2rem rgba(221, 107, 31, 0.30);
}

.towns_chois .chois_yes:active{
    box-shadow: 0 0 0 0.2rem rgba(84, 197, 207, 0.30);
}

.hdr_city a{
    cursor: pointer;
}
#modalCity .modal-body{
    padding: 1rem;
}

#modalCity .modal-dialog {
    font-size: 16px;
    max-width: 589px !important;
}

#modalCity .modal-dialog .modal-content>div{
    padding: 2rem 1.5rem;
}

#modalCity .modal-dialog .cityes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#modalCity .modal-dialog .cityes div {
    margin-bottom: 0.5rem;
    cursor: pointer;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}
#modalCity .modal-dialog .modal-title {
    font-size: 28px;
    font-weight: bold;
}

#modalCity .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

#modalCity .modal-dialog .cityes div.active {
    padding: 1rem 0;
    color: #54c5cf;
    font-weight: 600;
    cursor: initial;
}

.collapse_content{
    position: relative;
    height: 4rem;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.collapse_fade{
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.collapse_content.show{
    height: 100%;
    overflow: auto;
}

.collapse_content.show .collapse_fade{
    opacity: 0;
}


@keyframes fadeInOut {
  from {opacity: 0; display: block;}
  to {opacity: 1;}
}

@keyframes stepAnim {
  0% {
      box-shadow: 0 0 20px 0px #54c5cf73;
  }
  25% {
      box-shadow: 0 0 10px 2.5px #54c5cf73;
  }
  50% {
      box-shadow: 0 0 20px 5px #54c5cf73;
  }
  75% {
      box-shadow: 0 0 10px 2.5px #54c5cf73;
  }
  100% {
    box-shadow: 0 0 0px 0px #54c5cf73;
  }
}

.zangdar__step__active{
    animation-name: fadeInOut;
    animation-duration: 2s;
}
.step5_frame:focus{
outline: #54c5cf auto 1px;
}

.step5_frame label{
    cursor: pointer;
}

#calc_form .step-item.active{
    width: 20px;
    height: 20px;
        animation-name: stepAnim;
    animation-duration: 1s;
}

#calc_form .step-item{
    transition: .3s ease-in-out;
}

#calc_form .step-item:hover{
    box-shadow: 0 0 15px 5px #54c5cf73;   
}

#calc_form .step-item:hover li::before {
    width: 70px;
}

section.gift .form-check.active{
    display: flex;
    cursor: pointer;
}

section.gift .form-check.active.akcia-2{
       display: flex;
    align-items: center;
    cursor: pointer; 
}

section.gift .form-check label{
    cursor: pointer;
}

#calc_form input[type="radio"]{
     margin-right: 12px;
}

#calc_form h2{
    font-size: 60px;
}

.calc_sub_title{
    margin-bottom: 0;
}

.calc_s6_sum::before, .step5_sum::before {
    font-size: 18px;
    text-decoration: none!important;
}

.calc_s6_sum{
    margin: 35px 0;
}

#calc_form label .text_red{
    color: red;
}

#calc_form #emailHelp{
    font-size: 10px;
    color: #939292;
}

#calc_form input#datepicker{
    margin: 65px 0 0;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
    height: 45px;
    padding-left: 1rem;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: none!important;
    text-aling: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-widget-content .ui-state-default.ui-state-highlight{
    background: #54c5cf!important;
    color: #fff!important;
}

.ui-widget-content .ui-state-default.ui-state-highlight:hover{
    background: #1bc4d3!important;
}

.ui-datepicker td span, .ui-datepicker td a{
    width: 2.5rem;
    height: 2.5rem;
}

.ui-datepicker {
    width: auto!important;
    border: none!important;
    padding: 1rem 0 0 0!important;
}

.ui-datepicker .ui-datepicker-header {
    border: none!important;
    border-radius: 0!important;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 0px!important;
    width: 3rem!important;
    height: 3rem!important;
    cursor: pointer;
}

.ui-state-active, .ui-widget-content .ui-state-active{
    background: #dd6b1f!important;
}

.ui-state-active, .ui-widget-content .ui-state-active:hover{
    background: #b95b1c!important;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover, .ui-datepicker .ui-datepicker-next.ui-state-hover{
    border: none;
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span{
    background-image: url(../img/ab_b2_arrnx.png);
        background-position: center;
    background-size: contain;
}

.ui-datepicker .ui-datepicker-prev span{
    transform: rotate(180deg);
}

.calc_inp_cont, .step4_inp_cont{
    margin: 35px 0;
}

#calc_form{
    display: flex;
    justify-content: center
}

.step{
    width: 100%;
    margin: auto;
    max-width: 515px;
    display: flex;
    justify-content: space-between;
    left: auto;
}

.step::before{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #54c5cf;
    position: absolute;
}

.step li::before{
    display: none;
}

.step .step-item{
    margin: 0;
}

.calc_btns .btn_calc_next_wrap, .calc_btns .btn_calc_back_wrap {
   margin: 0 7.5px;
}
.btn_calc_next_wrap button, .btn_calc_back_wrap button{
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc_inp_cont label, .step4_inp_cont label, .step6_inp_cont label {
    font-size: 12px;
    color: #909090;
    margin-bottom: 5px;
}

.slick-slider{
    margin-top: 35px;
}

.rates{
    width: 100%;
}

@media (max-width: 576px){
    .slick-next {
    right: -12px;
}

.slick-prev {
    left: -12px;
}
.calc-client-data{
    flex-direction: column;
}

.step6_inp_cont{
    max-width: 100%;
    margin: 0 1rem;
}

.calc-final .calc_btns{
    flex-direction: column;
    align-items:center;
    margin-bottom: -46px;
}

.btn_calc_back_wrap, .btn_calc_next_wrap{
    width: 100%;
}

.calc-final .btn_calc_next[type=submit]{
    margin-top: 1rem;
}

.btn_calc_next[type=submit] {
    padding: 12px 48px;
}
}

.calc-final .btn_calc_next[type=submit]{
    max-width: inherit;
}

.in_b2_img_cont{
    margin-top: 0;
}

.b3_frame h3{
    font-size: 26px;
}

/*second modal*/

#zakazZvonka input::placeholder{
    color: #888888;
}
#zakazZvonka .btn_m_modal{
    font-size: 14px;
}
#zakazZvonka h2{
    font-size: 35px;
    line-height: 1;
    margin: 0;
}
#zakazZvonka h3{
    font-size: 14px;
    line-height: 1;
    padding: 1.5rem 0 1.25rem 0;
    margin: 0;
}

#zakazZvonka .modal-body{
    padding: 2.5rem;
}

#zakazZvonka .form-group{
    margin-bottom: 1.5rem;
}
#zakazZvonka .modal-dialog{
    max-width: 530px;
}

.modal{
    padding: 1rem;
}

.modal button.close{
    width: 18px;
    height: 18px;
    position: absolute;
    right: -25px;
    opacity: 1;
    transition: .15s ease-in-out;
}

.modal button .close_span{
    width: 21px;
    height: 1px;
    background-color: #fff;
    display: block;
}
.modal button .close_span:first-child{
    transform: rotate(45deg) translateY(1px);
    transform-origin: center;
}
.modal button .close_span:last-child{
    transform: rotate(-45deg)translateY(-1px);
    transform-origin: center;
}

@media(max-width: 768px){
    .modal button.close{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 1;
}
.modal button .close_span{
    width: 21px;
    height: 1px;
    background-color: #888;
    display: block;
}
}



.form-group .nn-text{
    bottom: 1px; right: 6px; color: #9f9f9f; font-size: 12px;
}


/*third modal*/
#viborF button.btn{
    width: 100%;
}
#viborF button.btn_blue{
    margin-bottom: 14px;
}

#viborF .modal-body{
    padding: 60px 50px;
}

#viborF h2{
    font-size: 35px;
    line-height: 1.2;
    margin: 0;
}
#viborF h3{
    font-size: 14px;
    line-height: 1.2;
    padding: 1.5rem 0 2rem 0;
    margin: 0;
    text-align: center;
}

@media(max-width: 567px){
    #zakazZvonka h2{
    font-size: 26px!important;
}
#zakazZvonka h3{
    text-align: center;
    font-size: 14px;
}
    #viborF h2{
    font-size: 26px!important;
}
#viborF h3{
    text-align: center;
    font-size: 14px;
}
#zakazZvonka .modal-body {
    padding: 2.5rem 28px;
}
#zakazZvonka .btn_m_modal {
    padding: 13px 13px;
}
#viborF .modal-body {
    padding: 2.5rem 28px;
}
#viborF .btn_m_modal {
    padding: 13px 13px;
}
}

.prc_b2_img_cont{
    box-shadow: 0 0 6px 0px #0000001f;
}

@media(max-width: 420px){
    #rent .btn{
        margin-bottom: 1rem;
    }
}

/* New news page */

.news_new{
    color: #3d3d3e; 
    padding-bottom: 100px;
}

.news_new h1{
    font-size: 95px;
    line-height: 1;
    margin: 70px 0 40px 0;
}

.news_new p.subtitle{
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 82px;
}

.news_block_new__title h2{
    font-size: 29px;
    line-height: 1;
    margin: 0;
}

.news_block_new__title p{
    margin: 0;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}
.news_block_new__text p{
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
}

.news_block_new__link a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.news_new__pagination{
    list-style: none;
    font-size: 24px;
    font-family: BebasNeue;
    font-weight: bold;
}

.news_new__pagination li.active a{
    text-decoration: underline;
}

.news_new__pagination li.disabled{
    color: #c1c1c1;
}

@media(max-width: 576px){
    .news_new h1{
        font-size: 70px;
        line-height: 1;
        margin: 35px 0 20px 0;
    }

    .news_new p.subtitle{
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    
    .news_new{
        padding-bottom: 2rem;
    }
}

.ab_faq_coll_head{
    padding: 40px 33px;
}

.collapse_faq{
    padding: 0 33px 40px 33px;
}

.chl_b6_fr_text.collapse:not(.show) {
    display: block;
    height: 4rem;
    overflow: hidden;
}

.chl_b6_fr_text.collapsing {
    height: 4rem;
}

.cnts_b2_frame {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ab_b1_sldr_nav .slick-dots{
    bottom: -30px;
}

.custom_checkbox{
    height: 21px;
    width: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/checkbox.png);
    cursor: pointer;
    margin-right: 10px;
}

input.input_checkbox_custom[type=checkbox]{
    display: none;
}

input.input_checkbox_custom:checked + .custom_checkbox{
    background-image: url(../img/checkbox_checked.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media(max-width: 576px){
    #calc_form h2{
        font-size: 42px;
    }
    .zangdar__wizard .zangdar__step.zangdar__step__active{
        width: 100%;
    }
    .calc_btns .btn_calc_next_wrap, .calc_btns .btn_calc_back_wrap{
        display: flex;
        justify-content: center;
    }
    .custom_checkbox{
        width: 31px;
    }
    #calcModal h2 {
        font-size: 26px !important;
    }
    #calcModal .calc_btns{
        flex-wrap: wrap;
    }
    #calcModal .btn_calc_back_wrap{
        margin-bottom: 16px;
    }
    #calcModal .step{
        bottom: 140px;
    }
    #calcModal .calc{
        padding: 0;
    }
    #calcModal .btn_calc_next_wrap button, .btn_calc_back_wrap button{
        max-width: 100%;
    }
    #calcModal{
        padding: 0;
    }
}