@charset "UTF-8";
@font-face {
	font-family: "fontawesome";
	src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	src: url("../fonts/Montserrat-Regular.otf") format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
	src: url("../fonts/Montserrat-Medium.otf") format("opentype");
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	src: url("../fonts/Montserrat-Bold.otf") format("opentype");
	font-weight: 700;
}
@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue\ Regular.ttf") format("truetype");
	src: url("../fonts/BebasNeue\ Regular.otf") format("opentype");
	font-weight: 400;
}
body {
	font-family: Montserrat;
	color: #3d3d3e;
	font-weight: 400;
	position: relative;
}
p {
	font-size: 16px;
	color: #818181;
}
h1,
h2 {
	font-weight: 700;
}
h1 {
	font-size: 47px;
	margin-bottom: 25px;
}
h2 {
	font-size: 40px;
	margin-bottom: 20px;
}
a {
	color: #3d3d3e;
}
a:hover {
	text-decoration: none;
	color: #297fb6;
}
a:focus {
	outline: none;
}
.btn {
	font-weight: 500;
	font-size: 14px;
	border-radius: 4px;
	font-family: Montserrat;
}
.btn.focus,
.btn:focus {
	box-shadow: none;
}
.block_shadow::after {
	content: "";
	display: block;
	height: 100%;
	width: calc((100vw - 100%) / 2);

	max-width: 50px;
	background-image: url(../img/shadowR.png);
	background-position: top center;
	background-repeat: repeat-y;
	position: absolute;
	left: 100%;
	top: 0;
}
.block_shadow::before {
	content: "";
	display: block;
	height: 100%;
	width: calc((100vw - 100%) / 2);

	max-width: 50px;
	background-image: url(../img/shadowL.png);
	background-position: top center;
	background-repeat: repeat-y;
	position: absolute;
	right: 100%;
	top: 0;
}
.btn_orange {
	background-color: #ea7323;
	color: #ffffff;
}
.btn_orange:hover {
	background-color: #df5a00;
	color: #ffffff;
}
input.form-control {
	border: 1px solid #ececec;
	font-family: Montserrat;
	font-size: 14px;
	color: #818181;
	height: 55px;
	padding-left: 15px;
}
.form-control:focus {
	border-color: #2476ab;
	box-shadow: 0 0 0 0.2rem rgba(36, 118, 171, 0.25);
}
/* ========== SLICK ============ */
.slick-dots button {
	width: 10px !important;
	height: 10px !important;
	border-radius: 50px;
	margin: auto;
}
.slick-dots button::before {
	display: none;
}
/* ========== MOBOLE MENU ============ */
.mobil_menu {
	position: relative;
	overflow-x: hidden;
}
.m_menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	background-color: #000000d6;
	transition: 0.5s;
	transform: translateX(-100%);
}
.mob_nav a {
	color: #ffffff;
	font-weight: 500;
}
/* .mob_nav .active::after {
	content: "\f106";
	font-family: fontawesome;
	position: absolute;
	font-size: 18px;
	line-height: 1;
	top: 70%;
	left: calc(50% - 6px);
} */
.m_menu_icon1,
.m_menu_icon2,
.m_menu_icon3 {
	height: 4px;
	width: 20px;
	background-color: #ffffff;
	border-radius: 4px;
	transition: 0.6s;
}
.m_menu_icon1 {
	position: absolute;
	top: 6px;
}
.m_menu_icon2 {
	position: absolute;
	top: 13px;
}

.m_menu_icon3 {
	position: absolute;
	bottom: 6px;
}
.menu_btn_active .m_menu_icon2 {
	display: none;
}
.menu_btn_active .m_menu_icon1 {
	transform: rotate(-45deg);
	top: 13px;
}
.menu_btn_active .m_menu_icon3 {
	transform: rotate(45deg);
	bottom: 13px;
}
.menu_btn {
	width: 30px;
	height: 30px;
	background-color: #297fb6;
	color: white;
	position: absolute;
	right: -47px;
	top: 18px;
	transition: 0.5s;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ffffff;
}
.menu_btn_active {
	right: 19px;
	box-shadow: 0 0 0 1px #297fb6;
}

.m_menu_back {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 4;
	transition: 0.5s;
	transform: translateX(-100%);
}
.m_menu_back_active {
	transform: translateX(0%);
}
.menu_active {
	transform: translateX(0%);
}

/* ========== HEADER ============ */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: 0.5s;
	padding-bottom: 20px;
}
.hdr_bg {
	background-color: #ffffffe8;
}
.hdr_logo_cont {
	margin-right: 35px;
	padding-top: 20px;
}
.hdr_logo_cont img {
	max-width: 63px;
}
.hdr_nav .nav-link {
	font-size: 14px;
	font-weight: 600;
	padding: 0 14px;
}
.mob_nav .active,
.hdr_nav .active {
	color: #297fb6;
	position: relative;
}
.mob_nav .active::after,
.hdr_nav .active::after {
	content: "\f106";
	font-family: fontawesome;
	position: absolute;
	font-size: 18px;
	line-height: 1;
	top: 70%;
	left: calc(50% - 6px);
}
.hdr_soc_block {
	margin-right: 30px;
}
.hdr_soc_block img {
	max-height: 24px;
}
.hdr_soc_block a {
	font-size: 24px;
	color: #ffffff;
	margin: 0 9px;
	/* text-shadow: 1px 0 #297fb6, -1px 0 #297fb6, 0 -1px #297fb6, 0 1px #297fb6; */
}
.viber_logo,
.ftr_viber_logo {
	width: 24px;
	height: 24px;
	background-image: url(../img/viber_1.png);
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: cover;
	display: inline-block;
}
.hdr_btn {
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 8px 18px;
	color: #ffffff;
	box-shadow: 0 0 0 1px #297fb6;
}
.hdr_btn:focus {
	box-shadow: 0 0 0 1px #297fb6;
}
.hdr_btn_scrolled {
	color: #297fb6 !important;
}
.viber_logo_scrolled {
	background-image: url(../img/viber_2.png);
}
.hdr_btn:hover {
	color: #ffffff;
	background-color: #00000040;
}
.viber_a:hover .viber_logo,
.viber_a:hover .ftr_viber_logo {
	background-position-y: -24px;
}
.hdr_soc_block a:hover {
	color: #ec7423 !important;
}

/* ========== BLOCK 1 ============ */
.block_1 {
	background-image: url(../img/b1_bg.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 220px;
	padding-bottom: 55px;
	height: 100vh;
}
.block_1 p {
	font-size: 18px;
	margin-bottom: 60px;
	max-width: 280px;
}
.b1_btn {
	background-color: #ffffff;
	padding: 20px 26px;
	line-height: 1;
	display: flex;
	align-items: center;
	box-shadow: 0 0 32px 2px #297fb61f;
}
.b1_btn:hover {
	box-shadow: 0 0 32px 2px #297fb657;
}
.b1_btn span {
	font-size: 24px;
	margin-left: 40px;
}
@keyframes fly {
	from {
		margin-top: 10px;
	}
	to {
		margin-top: 0px;
	}
}
.b1_btn_dwn_cont {
	height: 57px;
}
.b1_btn_dwn {
	font-size: 30px;
	padding: 0 0;
	background-color: transparent;
	animation-duration: 1s;
	animation-name: fly;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/* ========== BLOCK 2 ============ */
.block_2 {
	background-image: url(../img/b2_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 69px;
	overflow-x: hidden;
}
.block_2 .container {
	background-color: #ffffff;
	padding-top: 100px;
}
.block_2 p {
	line-height: 20px;
	margin-bottom: 65px;
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
}
.b2_img_cont {
	margin-left: -15px;
}
.b2_frame {
	height: 100%;
}
.b2_frame h3 {
	font-size: 18px;
	font-weight: 600;
}
.b2_frame p {
	margin-bottom: 30px;
}
.b2_fr_img {
	display: flex;
	align-items: center;
	height: 160px;
}
.b2_fr_img img {
	max-width: 90px;
	max-height: 107px;
}
/* ========== BLOCK 3 ============ */
.block_3 {
	overflow-x: hidden;
}
.block_3 .container {
	padding-top: 160px;
	padding-bottom: 190px;
}
.block_3 p {
	font-size: 14px;
	margin-bottom: 30px;
}
.block_3 select {
	max-width: 283px;
	height: 55px;
	padding: 10px 20px;
	font-family: inherit;
	font-weight: inherit;
	color: #818181;
	font-size: 14px;
	border: 1px solid #d4d4d2;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../img/select_arrow.png);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 13px);
	background-position-y: 50%;
	margin-bottom: 19px;
}
.b3_btn_all {
	padding: 0 0;
	text-decoration: underline;
	background-color: transparent;
	color: #297fb6;
	font-weight: 500;
	margin-top: 22px;
	font-size: 16px;
}
.b3_btn_call {
	padding: 8px 31px;
}
.b3_slider:focus,
.b3_slider .slick-slide:focus {
	outline: none;
}
.b3_slide_frame {
	box-shadow: 0 0 32px 2px #297fb61f;
	text-align: center;
	padding: 20px;
	max-width: 435px;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.b3_slide_frame h3 {
	font-weight: 700;
	font-size: 25px;
	height: 124px;
	display: flex;
	align-items: center;
}
.b3_slide_frame img {
	max-width: 220px;
	max-height: 360px;
}
/* .b3_slider .slick-dots {
	display: flex;
	flex-direction: column;
	right: 15px;
	width: 30px;
	height: 100%;
	justify-content: center;
} */
.b3_filter_block {
	padding-left: 75px;
	padding-top: 110px;
}
.b3_slide {
	height: 100%;
	display: flex;
	padding: 39px;
}
.shown {
	display: block !important;
}
.hide {
	display: none !important;
}
.b3_slider {
	height: 100%;
}
.b3_slider .carousel-inner {
	height: 100%;
}
.b3_slider .carousel-item.active {
	display: flex;
}
/* bootstrap slider dots  */
.b3_slider .carousel-indicators {
	flex-direction: column;
	margin-left: 0;
	margin-right: 0;
	left: unset;
	right: -25px;
	height: 100%;
	z-index: 9;
}
.b3_slider .carousel-indicators li {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 50px;
	border: 1px solid #c0c0c0;
	opacity: 1;
	margin-bottom: 4px;
	margin-top: 4px;
}
.b3_slider .carousel-indicators .active {
	background-color: #297fb6;
	border-color: #297fb6;
}
/* ========== BLOCK 4 ============ */
.block_4 .container {
	/* background-image: url(../img/b4_bg_cont.jpg); */
	/* background-position: top center;
	background-repeat: no-repeat;
	background-size: cover; */
	padding-bottom: 120px;
}
.b4_frame {
	padding-top: 115px;
	padding-left: 40px;
}
.b4_img {
	position: relative;
	text-align: right;
	margin-right: -15px;
	z-index: -1;
}
.b4_img::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: calc(((100vw - ((100% + 50px) * 12 / 7)) / 2) - 9px);
	background-color: #addbdf;
	position: absolute;
	top: 0;
	left: 100%;
}
.b4_img::before {
	content: "";
	display: block;
	height: 596px;
	width: 750px;
	background-image: url(../img/b4_img1.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
}
.hashtag {
	font-size: 14px;
	margin-bottom: 17px;
}
.block_4 p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.5;
}
.b4_btn {
	padding: 0 0;
	display: flex;
	align-items: center;
	letter-spacing: 2px;
	background-color: transparent;
	color: #818181;
	font-weight: 400;
	position: relative;
}
.b4_play_btn {
	width: 55px;
	height: 55px;
	border-radius: 50px;
	background-color: #53c3ce;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}
.b4_play_btn img {
	margin-left: 5px;
}
.b4_btn:hover .b4_play_btn {
	background-color: #17a2b8;
}
/* ========== BLOCK 5 ============ */
.weight_md {
	font-weight: 500;
}
.b5_bg_mob {
	width: 100%;
	height: 160px;
	background-color: #297fb6;
	/* position: absolute; */
	top: 0;
	left: 0;
}
.b5_main {
	background-image: url(../img/b5_bg_1.jpg);
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 120px;
}
.block_5 {
	/* padding-bottom: 140px; */
	position: relative;
}
.b5_text {
	color: #ffffff;
	font-size: 27px;
	font-weight: 700;
	margin-top: 43px;
}
.b5_frame {
	padding-top: 77px;
	padding-left: 65px;
}
.b5_frame p {
	margin-bottom: 40px;
}
.b5_btn {
	padding: 8px 33px;
}
/* ========== BLOCK 6 ============ */
.text_sb {
	font-weight: 600;
}
.block_6 {
	padding-top: 80px;
	padding-bottom: 145px;
}
.b6_title_text {
	max-width: 430px;
	margin-bottom: 125px;
}
.b6_frame {
	padding: 55px 40px;
	box-shadow: 0 0 32px 2px #297fb61f;
	border-radius: 4px;
	height: 100%;
	max-width: 330px;
	display: flex;
	flex-direction: column;
}
.b6_frame h3 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 25px;
}
.b6_frame ul {
	padding-left: 0;
	margin-bottom: 35px;
}
.b6_frame li {
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 8px;
}
.b6_frame li::before {
	content: "-";
	margin-right: 4px;
}
.b6_quarto {
	width: 78px;
	height: 78px;
	background-color: #53c3ce;
	border-radius: 0 78px 0 0;
}
.b6_mezzo {
	width: 100px;
	height: 51px;
	background-color: #fff001;
	border-radius: 0 0 50px 50px;
}
.b6_intero {
	width: 74px;
	height: 74px;
	background-color: #dd6b1f;
	border-radius: 50px;
}
/* ========== BLOCK 7 ============ */
.block_7 {
	padding-top: 100px;
	padding-bottom: 60px;
	position: relative;
}
.b7_bg {
	position: absolute;
	width: 100%;
	height: 410px;
	background-color: #297fb6;
	top: 0;
	left: 0;
}
.block_7 h2 {
	color: #ffffff;
}
.b7_title_text {
	color: #ffffff;
	margin-bottom: 115px;
	max-width: 570px;
}
.b7_frame {
	padding: 55px 45px;
	box-shadow: 0 0 14px 1px #0000000a;
	margin-bottom: 30px;
	background-color: #ffffff;
}
.b7_frame h3 {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 30px;
}
.b7_frame p {
	margin-bottom: 0;
	font-size: 14px;
}
.b7_sum {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 35px;
	line-height: 1;
}
.b7_sum::before {
	content: "\20bd";
	vertical-align: text-top;
	font-size: 31px;
	font-weight: 400;
}
.b7_check_cont {
	margin-bottom: 20px;
}
.b7_check_item {
	margin-bottom: 10px;
	font-size: 17px;
	letter-spacing: 1px;
}
.b7_check_item::before {
	content: "\f046";
	font-family: fontawesome;
	margin-right: 10px;
}
.b7_link {
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.8px;
	text-decoration: underline;
	margin-bottom: 40px;
	display: inline-block;
}
.b7_btn {
	color: #ffffff;
	background-color: #297fb6;
	padding: 11px 36px;
	width: 100%;
}
.b7_btn:hover {
	color: #ffffff;
	background-color: #216c9c;
}
.other_progs {
	color: #ea6533;
	text-decoration: underline;
	font-size: 25px;
}
.b7_arrow_l,
.b7_arrow_r {
	transition: 0.5s;
}
.b7_arrow_act_l {
	transform: rotate(180deg);
	transition: 0.5s;
}
.b7_arrow_act_r {
	transform: rotate(-180deg);
	transition: 0.5s;
}
/* ========== BLOCK 8 ============ */
.block_8 {
	padding-bottom: 130px;
}
.b8_title_text {
	max-width: 350px;
}
.b8_slider {
	margin-top: 80px;
}
.b8_slider .slick-dots {
	bottom: -100px;
}
.b8_slider .slick-list {
	padding-top: 30px;
}
.b8_slider .slick-dots li,
.b9_slider .slick-dots li {
	margin: 0 1px;
}
.b8_slider .slick-dots button,
.b3_slider .slick-dots button {
	border: 1px solid #828281;
}
.b8_slider .slick-dots .slick-active button,
.b3_slider .slick-dots .slick-active button {
	background-color: #297fb6;
	border: 1px solid;
}
.b8_slide {
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.b8_slide:focus {
	outline: none;
}
.b8_img_cont {
	width: 262px;
	height: 262px;
	border-radius: 131px;
	overflow: hidden;
	box-shadow: 0 0 32px 2px #297fb61f;
	position: relative;
	margin-bottom: 25px;
}
.b8_slide h3 {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.b8_hov_bl {
	background-color: #ffffff;
	position: absolute;
	top: 21px;
	left: 21px;
	width: 220px;
	height: 220px;
	border-radius: 110px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0 0 21px #297fb6a3;
	display: flex;
	transition: 0.4s;
	visibility: hidden;
	opacity: 0;
}
.b8_sum {
	font-family: BebasNeue;
	font-size: 38px;
	line-height: 1.3;
	margin-bottom: 8px;
}
.b8_sum::after {
	content: " \f158";
	font-family: fontawesome;
	vertical-align: text-top;
	font-size: 22px;
}
.b8_btn {
	color: #ffffff;
	background-color: #dd6b1f;
	padding: 12px 36px;
}
.b8_btn:hover {
	color: #ffffff;
	background-color: #df5a00;
	box-shadow: 0 0 32px 2px #df5a0047;
}
.b8_slide:hover .b8_hov_bl {
	visibility: visible;
	opacity: 1;
}
/* ========== BLOCK 9 ============ */
.block_9 {
	overflow-x: hidden;
	box-shadow: 0 0 32px 2px #297fb61f;
}
.b9_block {
	color: #ffffff;
	text-align: center;
}
.b9_block h2,
.b9_title_text {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
}
.b9_block h2 {
	font-size: 43px;
}
.b9_title_text {
	margin-bottom: 35px;
}
.block_9 .container {
	background-color: #2476ab;
	padding-top: 100px;
	padding-bottom: 90px;
	position: relative;
	box-shadow: 0 0 32px 2px #297fb61f;
}
.block_9 .container::before {
	content: "";
	display: block;
	width: 144px;
	height: 100%;
	background-image: url(../img/b9_bg_L.jpg);
	background-position: top center;
	background-repeat: repeat-y;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 100%;
}
.block_9 .container::after {
	content: "";
	display: block;
	width: 143px;
	height: 100%;
	background-image: url(../img/b9_bg_R.jpg);
	background-position: top center;
	background-repeat: repeat-y;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 100%;
}
.b9_circ_1 {
	width: 18px;
	height: 18px;
	background-color: #8ae5ef;
	border-radius: 50px;
	margin-bottom: 3px;
}
.b9_circ_2 {
	width: 12px;
	height: 12px;
	background-color: #51c0cc;
	border-radius: 50px;
	margin-bottom: 20px;
}
.b9_slide_frame {
	font-weight: 700;
}
.b9_slide_frame p {
	color: #ffffff;
	font-size: 24px;
	max-width: 810px;
	margin-bottom: 46px;
	line-height: 28px;
}
.b9_img_cont {
	margin-bottom: 20px;
}
.b9_img_cont img {
	max-width: 115px;
	max-height: 115px;
	border-radius: 50px;
}
.b9_name {
	font-size: 13px;
}
.b9_slider .slick-dots button {
	border: 1px solid #ffffff;
}
.b9_slider .slick-dots .slick-active button {
	background-color: #ffffff;
	border: 1px solid;
}
.b9_slider .slick-dots {
	bottom: -50px;
}
.b9_slider {
	margin-top: 0;
}
/* ========== FOOTER ============ */
footer {
	position: relative;
	padding-top: 95px;
}
.ftr_bg {
	position: absolute;
	width: 100%;
	height: 170px;
	background-color: #4193c8;
	bottom: 0;
	left: 0;
	z-index: -1;
}
footer h2 {
	max-width: 750px;
}
footer p {
	color: inherit;
	max-width: 360px;
	margin-bottom: 70px;
}
.ftr_form_cont {
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 0 32px 2px #297fb61f;
	padding: 55px 35px 20px;
	margin-bottom: 10px;
}
.ftr_btn {
	font-weight: 400;
	padding: 16px 67px;
}
.ftr_sm_text {
	color: #cccccc;
	font-size: 11px;
	margin-top: 10px;
}
.ftr_soc_block {
	margin-bottom: 8px;
}
.ftr_soc_block img {
	max-height: 24px;
}
.ftr_soc_block a {
	font-size: 24px;
	color: #ffffff;
	margin: 0 9px;
}
.ftr_soc_block a:hover {
	color: #ec7423;
}
.ftr_ftr {
	width: 100%;
	height: 40px;
	background-color: #2476ab;
	text-align: center;
}
.ftr_ftr p {
	color: #ffffff;
	font-size: 14px;
}
.ftr_ftr a {
	text-decoration: underline;
	color: inherit;
}
.ftr_ftr a:hover {
	color: #ec7423;
}
/* ========== MODAL ============ */
#mainModal .modal-dialog {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.modal-header {
	border-bottom: none;
	padding-bottom: 0;
}
.modal button.close {
	font-size: 30px;
	color: #ffffff;
	right: -15px;
	top: -15px;
}
.close:hover {
	color: #ea7323;
}
.close:focus {
	outline: none;
}
#mainModal .modal-body h2 {
	font-size: 36px;
}
#mainModal .modal-body {
	padding: 5px 30px 24px;
}
.modal .ftr_sm_text {
	margin-bottom: 15px;
}
.modal .ftr_btn {
	padding: 13px 47px;
}
/* =================== CALC ======================= */
.calc {
	padding-top: 95px;
	padding-bottom: 155px;
	text-align: center;
}
.zangdar__wizard .zangdar__step {
	display: none;
}
.zangdar__wizard .zangdar__step.zangdar__step__active {
	display: block;
}
.form-completed {
	display: none;
}
.step {
	list-style: none;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 88px;
	padding-left: 0;
	left: calc(50% - 277px);
	margin-bottom: 0;
}
.step-item {
	position: relative;
}
#calc_form {
	position: relative;
}
.step li::before {
	content: "";
	display: block;
	height: 2px;
	width: 73px;
	background-color: #297fb6;
	position: absolute;
	right: 100%;
	top: calc(50% - 1px);
}
.step li:first-child::before {
	display: none;
}
.step-item {
	/* content: "";
	display: block; */

	width: 12px;
	height: 12px;
	border-radius: 50px;
	background-color: #297fb6;
	margin: 0 40px;
	/* position: absolute; */
}
.step-item.active {
	/* content: "";
	display: block; */

	width: 15px;
	height: 15px;
	background-color: #ffffff;
	border: 3px solid #297fb6;
	/* position: absolute; */
}
#calc_form h2 {
	font-size: 30px;
	font-weight: 600;
}
#calc_form input {
	background-color: #fbfbfb;
	border: 1px solid #eaeaea;
}
.calc_sub_title,
.calc_sub_title_6 {
	font-size: 14px;
	margin-bottom: 65px;
	color: #3d3d3e;
}
.calc_sub_title_6 {
	margin-bottom: 25px;
}
input::-webkit-inner-spin-button {
	display: none;
}
#input_age {
	max-width: 200px;
}
#inp_num_child,
#inp_num_adult {
	max-width: 230px;
}
.calc_inp_cont {
	max-width: 200px;
	text-align: left;
}
.calc_inp_cont label,
.step4_inp_cont label,
.step6_inp_cont label {
	font-size: 14px;
	color: #909090;
	margin-bottom: 5px;
}
.step4_inp_cont {
	max-width: 230px;
	text-align: left;
}
.step6_inp_cont small .step4_inp_cont small {
	font-size: 10px;
}
.step5_frame {
	box-shadow: 0 0 12px 0px #00000014;
	padding: 40px 15px;
	/* width: fit-content !important; */
	text-align: left;
	margin: 0 10px;
}
.step5_frame p {
	font-size: 13px;
	color: #3d3d3e;
	line-height: 1.3;
	margin-bottom: 0;
}
.step5_frame > label > div {
	margin-bottom: 13px;
}
.step5_sum,
.step5_time,
.step5_slider h3 {
	font-weight: 600;
}
.step5_time,
.step5_sum {
	font-size: 30px;
	line-height: 1;
}
.step5_slider .slick-track {
	/* width: 100% !important; */
	padding: 10px 0;
}
.step5_slider .slick-next::before,
.step5_slider .slick-prev::before {
	content: "";
}
.step5_slider .slick-next,
.step5_slider .slick-prev {
	color: #b5b5b5;
	font-size: 25px;
}
#calc_form input[type="radio"] {
	visibility: hidden;
	position: relative;
}
#calc_form input[type="radio"]::before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #c0c0c0;
	border-radius: 50px;
	background-color: #f7f7f7;
	visibility: visible;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 11px);
	cursor: pointer;
}
#calc_form input[type="radio"]:checked::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #297fb6;
	border-radius: 50px;
	visibility: visible;
	position: absolute;
	left: calc(50% - 6px);
	top: calc(50% - 6px);
	cursor: pointer;
}
.calc_btns {
	margin-top: 130px;
}
.calc_btns button {
	margin: 0 7px;
}
.btn_calc_back {
	padding: 12px 54px;
}
.btn_calc_next {
	padding: 12px 61px;
}
.step5_slider h3 {
	font-size: 22px;
	margin-bottom: 0;
}

.step5_time span {
	font-size: 26px;
}
.step5_time::before {
	content: "\f017";
	font-family: fontawesome;
	font-size: 16px;
	vertical-align: text-top;
}
.calc_s6_sum {
	font-size: 60px;
	font-weight: 600;
	text-decoration: underline;
}
.step6_inp_cont {
	max-width: 240px;
	text-align: left;
}
.btn_blue {
	font-weight: 600;
	color: #ffffff;
	background-color: #297fb6;
}
.btn_transp {
	font-weight: 600;
	color: #3d3d3e;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
}
.btn_transp:hover {
	color: #3d3d3e;
	background-color: #00000040;
}
.btn_blue:hover {
	color: #ffffff;
	background-color: #236e9e;
}
.calc_s6_sum::before,
.step5_sum::before {
	content: "\20bd";
	font-family: Montserrat;
	font-size: 19px;
	font-weight: 600;
	vertical-align: text-top;
	text-decoration: none;
}
#calcModal .modal-body {
	padding: 1rem 2rem;
}
/* ========== MEDIA ============ */
@media screen and (max-width: 1200px) {
	.b7_frame {
		padding: 35px 30px;
	}
	.b7_check_item {
		font-size: 16px;
		letter-spacing: 0.9px;
	}
	.hdr_nav .nav-link {
		padding: 0 8px;
	}
	.b4_img::before {
		width: 619px;
		height: 536px;
	}
	.b4_frame {
		padding-top: 70px;
	}
	.b4_img::after {
		width: calc(((100vw - ((100% + 15px) * 12 / 7)) / 2) - 9px);
	}
	.ftr_btn {
		padding: 16px 47px;
	}
	.b3_filter_block {
		padding-left: 45px;
		padding-top: 40px;
	}
}
@media screen and (max-width: 992px) {
	.block_1 {
		background-image: url(../img/b1_bg_mob.jpg);
		background-size: contain;
		background-color: #ffffff;
		padding-top: 120px;
	}
	.block_5 {
		background-image: none;
	}
	.b5_frame {
		padding-top: 75px;
	}
	.block_4 .container {
		padding-bottom: 50px;
	}
	.viber_logo {
		background-image: url(../img/viber_2.png);
	}
	.hdr_soc_block a {
		color: #297fb6;
	}
	.step {
		left: calc(50% - 165px);
		max-width: 330px;
	}
	.step::before {
		width: 99%;
	}
	.step li::before {
		width: 40px;
	}
	.b5_main {
		background-image: none;
		padding-bottom: 60px;
	}
	.b5_bg_mob {
		height: 125px;
	}
	.b5_text {
		margin-top: 36px;
	}
	.ftr_form_cont .ftr_btn {
		width: 100%;
	}
	.hdr_btn {
		color: #297fb6 !important;
	}
	header {
		position: absolute;
	}
	.b3_filter_block {
		padding-left: 30px;
		padding-top: 10px;
	}
	.b4_img::after {
		width: calc((100vw - ((100% + 15px) * 12 / 7)) / 2);
	}
	.b3_slide_frame h3 {
		font-size: 19px;
	}
	.b3_slide {
		padding: 15px;
	}
	.block_3 .container {
		padding-top: 120px;
		padding-bottom: 90px;
	}
}
@media screen and (max-width: 768px) {
	.b7_title_text {
		margin-bottom: 45px;
	}
	.modal button.close {
		right: 2rem;
	}
	.b5_text {
		margin-top: 20px;
	}
	.b3_filter_block {
		padding-bottom: 20px;
		padding-right: 30px;
	}
	.b3_slider .carousel-indicators {
		right: 0;
	}
}
@media screen and (max-width: 576px) {
	h1 {
		font-size: 29px;
		margin-bottom: 25px;
	}
	.block_1 p {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.b2_frame {
		text-align: center;
	}
	.b2_fr_img {
		justify-content: center;
	}
	h2 {
		font-size: 29px !important;
	}
	.block_2 p {
		margin-bottom: 20px;
	}
	.block_2 .container {
		padding-top: 65px;
	}
	.block_3 .container {
		padding-top: 85px;
		padding-bottom: 75px;
	}
	.b5_text {
		margin-top: 0px;
	}
	.b5_frame {
		padding-top: 35px;
		padding-left: 15px;
	}
	p {
		font-size: 14px;
	}
	.block_5 {
		padding-bottom: 50px;
	}
	.block_6 {
		padding-top: 50px;
		padding-bottom: 90px;
	}
	.b6_title_text {
		margin-bottom: 55px;
	}
	.block_7 {
		padding-top: 70px;
	}
	.b9_slide_frame p {
		font-size: 16px;
		line-height: 20px;
	}
	.modal-body {
		padding: 5px 15px 22px;
	}
	.step {
		left: calc(50% - 120px);
		max-width: 240px;
	}
	.step li::before {
		width: 27px;
	}
	.b5_text {
		font-size: 23px;
	}
	.hdr_soc_block a {
		margin: 0 15px;
	}
	.hdr_soc_block {
		margin-right: 0;
		margin-bottom: 8px;
	}
	.hdr_logo_cont {
		margin-right: 0;
	}
	.mm_soc_cont {
		padding-left: 20px;
	}
	.b4_frame {
		padding-left: 15px;
	}
	.b4_play_btn {
		margin-right: 5px;
	}
}
@media screen and (max-width: 374px) {
	.hdr_soc_block {
		margin-left: 25px;
	}
	.mm_soc_cont {
		padding-left: 0;
	}
}
